<header id="header" class="header d-flex">

  <div class="mr-auto">

    <img style="cursor: pointer;" (click)="sidebarToggle()" src="assets/list.svg" />

  </div>

  <div class="mr-auto">

    <b style="margin-right: 10px; font-size: 20px;">R-Tech Park</b>

    <img class="mb-1" src="../../../assets/car-front.svg" />

  </div>

  <div class="mt-auto" style="font-size: 11px; margin-right: 10px; color: #b1b7c3;">
    <p class="mb-0">© Renan Lacerda</p>
    <p style="font-size: 10px;">(11) 9.5860-2564</p>
  </div>

</header>
